<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">Your Logo</a> -->
    <img class="logo" src="../assets/images/logo.jpg"> 
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSuportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class="collapse navbar-collapse" id="navbarSuportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active"> <a class="nav-link" href="#" routerLink="/">Products</a> </li>
          <li class="nav-item"> <a class="nav-link" href="#" routerLink="/cart">Cart </a> </li>
          <li class="nav-item"> <a class="nav-link" href="#" routerLink="/checkout">Checkout</a> </li>
        </ul>
 
        <form class="d-flex">
            <input id="SearchInput" type="text" placeholder="Search" #value (keyup.enter)="onClickSearch(value)">
            <label for="searchInput" class="icon" #value (click)="onClickSearch(value)"> </label>
            <button class="btn btn-light my-2 my-sm-0" type="submit"> Search </button> 
        </form>          
    </div>
</nav>
 
 
<router-outlet></router-outlet>
 
<footer class="footer mt2 md-mt3 bg-black py2" style="color: white;">
    <div class="wrapper">
        <div class="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h5> About </h5>
                        <ul>
                            <li> Company </li>
                            <li> Team </li>
                            <li> Careers </li>
                        </ul>
                    </div>
                   
                    <div class="col-sm">
                        <h5>Company Name</h5>
                        <ul>
                            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit </li>
                            <li>Corporis qui autem nobis enim ipsa, quasi ad esse soluta, mollitia</li>
                            <li>dolores amet illo magnam provident officia sed, doloremque repellat quisquam Porro.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
 
 
 

